/** Insert your code here **/

/*********** READ ONLY BLOCK ******
You CAN NOT UPDATE anything from here on,
only add lines of code on top of this lines
**/

body {
	color: blue;
}

ul li {
	color: red;
}

ol li {
	color: green;
}
ol li:nth-child(2) {
	background: green;
}
tr:nth-child(odd) {
	background: yellow;
}
